.products{
  padding: 20px 40px;
  width: calc(100% - 150px);
}
.products h3{
  margin:  0;
  text-align: center;
}
.products .table thead tr th{
  text-align: center;
}
.products .table tbody tr td{
  text-align: center;
}
.products .table tbody tr{
  vertical-align: middle;
}
.products .table tbody tr td .imgProduct{
  max-width: 100px;
}