#root{
  position: relative;
}
.products{
  padding: 20px 40px;
  width: calc(100% - 150px);
}
.products h3{
  margin:  0;
  text-align: center;
}
.products .table {
  margin-top: 20px;
}
.products .table thead tr th{
  text-align: center;
}
.products .table tbody tr td{
  text-align: center;
  width: 185px;
}
.products .table tbody tr{
  vertical-align: middle;
}
.products .table tbody tr td .imgProduct{
  max-width: 100px;
}

.products .table tbody tr td button{
  border: 0;
  background: #000;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: .2s all ease;
  margin-right: 10px;
  display: flex;
}
.products .table tbody tr td button:hover{
  background: #2C2C2C;
}
.products .table tbody tr td button:last-child{
  margin-right: 0;
}
.products .table tbody tr td button svg{ 
  margin-right: 5px;
  margin-top: 4px;
}
